body{
    margin : 0;
    background-color: aliceblue;
}
header{
    background-color: black;
        color: white;
        text-align: center;
        padding: 20px; 
}
.city{
    font-style: bold;
}
.about-city{
    font-size: 10px;
    color:lightgrey;
}
.main{
    padding: 10px;
    text-align: center;
}
.beach{
    background-color: black;
    color: white;
    padding: 20px;
    display: inline-block;
    border-radius: 10px;
}
.hs{
    background-color: black;
    color: white;
    padding: 20px;
    display: inline-block;       
    border-radius: 10px;
}
.wf{
    background-color: black;
    color: white;
    padding: 20px;     
    display: inline-block;
    border-radius: 10px;
}
.yarada{
    padding-bottom: 40px;
}
.lambasingi{
    padding-bottom: 40px;
}
.footer{
    background-color: black;
    color: white;
    font-size: 16px;
    font-weight:400;
    padding: 30px;
    text-align: center;
    margin-bottom: 0;
}